/.DS_Store
1.1_color-flipper-simple/.DS_Store
1.2_color-flipper-hex/.DS_Store
2_counter/.DS_Store
3_reviews/.DS_Store
4_navbar/.DS_Store
5_sidebar/.DS_Store
6_modal/.DS_Store
7_questions/.DS_Store
8_menu/.DS_Store
10_scroll/.DS_Store
11_tabs/.DS_Store
12_countdown/.DS_Store